.subtitle{
    background-color: #e9c68c;
    font-size: 10px;
    display: inline-block;
    height: 15px;
    width: 58px;
    line-height: 15px;
    border-radius: 3px;
}
.subtitle1{
height: 13px;
width: 46px;
background: rgba(255,87,6, 0.08);
color: #FF5706;
}
.price{
border-bottom:0.1px solid #999;
p{
    color: #e02e24 !important;
    font-size:17.28px !important;
    font-weight: bold !important;
}
span{
    color: rgb(156, 156, 156);
    font-size:12px;
}
.userimg{
    width: 20px !important;
    height: 20px !important;
    background: #FF5706;
    border-radius: 50px;
}
}


