// 首页导航栏
.tops{
    width: 65px !important;
    height: 60px !important;
    margin-top: 10px;
    img{
        width: 40px !important;
        height: 40px !important;
    }
    p{
        color:rgb(102, 102, 102);;
        font-size: 12px;
    }
}
